.back-button {
  padding: 10px;
  background-color: indianred;
  color: white;
  border: 1px solid indianred;
  border-radius: 5px;
}

.profile-page {
  margin: 10px auto;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  max-width: 800px;
}

.profile-image {
  width: 100%;
}

.profile-name {
  font-size: 30px;
  font-weight: 700;
}

.profile-details {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-attribute {
  width: 40%;
  display: inline-flex;
  margin: 3px 10px;
  justify-content: space-between;
}

.profile-footer {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.profile-availability {
  font-size: 28px;
  font-weight: 700;
}

.profile-rate-price {
  color: #888;
}

.profile-total-price {
  font-size: 20px;
}