
.vehicle-card {
  width: 90%;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 10px auto;
}

.vehicle-title {
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid grey;
  box-shadow: grey 0 1px 2px;
  padding: 5px;
}

.vehicle-content-container {
  display: inline-flex;
  width: 100%;
}

.vehicle-image {
  width: 40%;
  margin: 5px
}

.vehicle-content {
  width: 70%;
  margin: 5px;
  position: relative;
}

.vehicle-details-container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}

.vehicle-details {
  width: 40%;
}

.vehicle-attribute {
  display: flex;
}

.vehicle-attribute-title {
  font-size: 14px;
  color: #888;
  width: 50%;
}

.vehicle-vendor-details {
  width: 40%;
}

.vehicle-availability-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  right: 0;
}

.vehicle-availability {
  font-size: 24px;
  align-self: flex-end;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.vehicle-rate-price {
  font-size: 12px;
  color: #888;
}

.vehicle-rate-price-title {
  font-weight: 600;
}

.vehicle-total-price {
  font-size: 20px;
}

.vehicle-total-price-title {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .vehicle-content-container {
    display: block;
  }

  .vehicle-content {
    width: 100%;
    font-size: 12px;
  }

  .vehicle-details-container {
    padding: 0;
  }

  .vehicle-details {
    width: 100%;
  }

  .vehicle-vendor-details {
    width: 100%;
  }

  .vehicle-attribute {
    text-align: right;
  }

  .vehicle-attribute-title {
    text-align: left;
  }

  .vehicle-availability-container {
    display: block;
    position: relative;
  }
}