.legend-container {
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.legend-content {
  display: inline-flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.legend-title {
  align-self: flex-end;
  font-size: 26px;
}

.legend-event-title {
  font-weight: 600;
  border-bottom: 1px solid;
}

.legend-event-attribute-title {
  font-size: 14px;
  color: #888;
}